html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.gfg {
    height: 50px;
    width: 50px;

}

.mynav {
    color: #fff;
}

.mynav li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active {
    background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
    width: 25px;
    text-align: center;
}

.notification-badge {
    background-color: rgba(255, 255, 255, 0.7);
    float: right;
    color: #222;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 2px;
}

/* login styles */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

body, html {
    height: 100%;
}
.container-fluid {
    padding: 0;
}
.sidebar-wrapper {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}
.content-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
}
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 2;
}

.card-label {
    display: inline-block;
    width: auto;
    padding: 0.5rem;
    background-color: #4ba2f8; /* Optional: to make the label more visually distinct */
    border-radius: 0.25rem; /* Optional: to give the label rounded corners */
}

.dropzone {
    background: #e3e6ff;
    border-radius: 13px;
    max-width: auto;
    max-height: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-file-upload {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.custom-file-upload:hover {
    border-color: #999;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload-label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
